body {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    background-image: url('../img/Fondo.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Hace que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el body cubra al menos el 100% de la altura de la ventana */
}

header {
    background: hsl(0, 0%, 20%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

.galeria {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.imagen {
    flex: 1 1 calc(33.333% - 40px);
    margin: 10px;
    text-align: center;
}

.imagen img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.imagen p {
    font-size: 1.1em;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .imagen {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .imagen {
        flex: 1 1 100%;
    }
}

